@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';

@import 'sass/layout/grid';

@import 'sass/components/headings';


@import 'sass/pages/_globalPage';
@import 'sass/layout/header';
@import 'sass/pages/homePage';
@import 'sass/components/buttons';

@import 'sass/layout/footer';



