.main-button{
    background-color: rgba($mainColor, .8);
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-align: center;
    min-width: 120px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    @include prefixer (transition, all .5s ease-in-out, webkit moz o); 
    &:hover{
        background-color: $mainColor;
    }
}   


.nav-toggle{
    background-color: $mainColor;
    border: none;
    padding-top: 5px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 15px;
    display: none;
    outline: none;
    @media #{$mobile}{
        display: inline-block;
    }
    span{
        display: block;
        width: 40px;
        height: 5px;
        background-color: #fff;
        margin-bottom: 5px;

    }
}