$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)"; 

$mobile: "(max-width: 767px)";
$medium: "(min-width: 768px) and (max-width: 991px)";
$large: "(min-width: 1200px)";


$mainColor: #e2494c;
$secondColor: #616161;
$thirdColor: #d9d9d9;

$float-l: left;
$float-r: right;

$text-r: right;
$text-l: left;