/* start slider*/

.slider{
    blockquote{
        font: {
            size: 20px;
            style: italic;
            weight: bold;
            family: Tahoma, Arial;
        }
        line-height: 1.7;
        text-align: center;
        color: $secondColor;
        width: 80%;
        margin: 30px auto;

    }
    img{
        max-width: 100%;
    }
    .slider-bullets{
        text-align: center;
        li{
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: $thirdColor;
            border-radius: 50%;
            border: 3px solid $thirdColor;
            cursor: pointer;
            &.active,
            &:hover{
                background-color: #fff;
                border: 3px solid $thirdColor;
            }
        }
    }
}

/* end slider*/

/* start services */
.services{
    .service-box{        
        @media #{$minMedium} {
            float: $float-l;
            width: calc( 100% /3 );
            &:not(:last-of-type){
                padding-right: 10px;
                }
            }
        @media #{$mobile} {
            i {
                display: block;
                margin-bottom: 15px;
 
            }
        }
        .service-title{
            color: $secondColor;
            i{
                margin-right: 10px;
                font-size: 25px;
            }
        }
        .service-desc{
            color: $secondColor;
        }
        .custom-link {
            color: $mainColor;
        }
    }
}
/* end services */

/* start our players */
.our-players {
    .player-box{
        float: $float-l;
        @media #{$minSmall} {
            width: calc( 100% /2 );
            text-align: center;
            margin-bottom: 40px;
            &:last-of-type{
                margin-left: 25%;
            } 
        }
        @media #{$minMedium} {
            width: calc( 100% /3 );
            text-align: $text-l;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media #{$minLarge} {
            width: calc( 100% /5 );
            margin-bottom: 40px;
        }
        @media #{$maxMobile}{
            margin-bottom: 40px;
            padding: 0 20px;
        }
        .player-title{
            color: $secondColor;
            font-weight: normal;
            span{
                font-weight: bold;
            }
            
        }
        .player-desc{
            color: $secondColor;
            @media #{$maxMobile}{
                margin-bottom: 10px;
            }
        }
        .custom-link {
            color: $mainColor;
        }
    }
}
/* end our players  */

/* start gallary */
.gallary{
    .gallary-box{
        @media #{$minSmall} {
            float: $float-l;
            width: (94% / 3);
        
            &:not(:last-of-type){
             margin-right: 2%;
             }
        }
        img{
            @media #{$minSmall} {
               max-width: 100%; 
            }
            width: 100%;
        }
    }
}

/* end gallary */